In [6]:
import pandas as pd
import numpy as np
import ast

In [2]:
df = pd.read_csv('../data/kaggle_data.csv')

In [ ]:
df_sample = df.sample(n=20000, random_state=13)

In [ ]:
df_sample.to_csv('../data/sample_20000_songs.csv', index=False)

In [ ]:
df_top = df[(df['year'] >= 1970) & (df['year'] < 1980)].sort_values(by='popularity', ascending=False).head(1000)

In [ ]:
df_top.head()

In [ ]:
df_top.to_csv('../data/top_70_songs.csv', index=False)

In [3]:
df['decade'] = pd.cut(x=df['year'], bins=[1919, 1929, 1939, 1949, 1959, 1969, 1979, 1989, 1999, 2009, 2029], labels=['20s', '30s', '40s', '50s', '60s', '70s', '80s', '90s', '00s', '10s'])

In [4]:
df.groupby('decade').popularity.describe()

          count       mean        std  min   25%   50%   75%    max
decade
20s      5631.0   1.193926   3.873952  0.0   0.0   0.0   0.0   51.0
30s     10764.0   2.213304   5.866126  0.0   0.0   0.0   1.0   63.0
40s     15493.0   1.810882   5.699133  0.0   0.0   0.0   0.0   80.0
50s     20000.0  10.723700  11.810154  0.0   0.0   8.0  16.0   85.0
60s     19610.0  26.388679  12.476317  1.0  17.0  24.0  33.0   87.0
70s     20118.0  34.542499  11.204208  0.0  26.0  32.0  41.0   86.0
80s     20074.0  36.956810  10.897601  0.0  29.0  35.0  43.0   84.0
90s     20328.0  43.120769  10.547548  0.0  36.0  42.0  49.0   90.0
00s     13782.0  43.167320  21.072327  0.0  40.0  50.0  57.0   85.0
10s     28589.0  27.346042  30.224579  0.0   0.0   9.0  60.0  100.0

In [7]:
df['main_artist'] = df['artists'].apply(lambda x: [n.strip() for n in ast.literal_eval(x)][0])

In [10]:
df_3 = df.groupby('main_artist').popularity.agg(['count','mean']).sort_values(by='mean',ascending=False)

In [12]:
df_3[df_3['count'] > 150].head(10)

                          count       mean
main_artist
Drake                       153  62.026144
Taylor Swift                225  61.168889
Eminem                      176  58.670455
Michael Jackson             172  48.133721
Red Hot Chili Peppers       168  47.744048
The Beatles                 415  46.359036
Nirvana                     176  44.511364
Eagles                      156  43.141026
Bruce Springsteen           157  42.993631
Bob Marley & The Wailers    274  42.135036

In [ ]:
df_2.to_csv('../data/phil_collins_songs.csv', index=False)